
.header_image{
  height:150px;
  width:130px;
}

.headtext{
  margin-top: 50px;
  font-size: 60px;
  margin-left: -40px;
  font-family: sans-serif;
  color: blue;
}

.cont{
margin-top: 30px;
}

.foot{
  margin-top: 40px;
}


.sHead{
    color: grey;
}

@media screen and (max-width:600px){
  .header_image{
    display: none;
  }
  .headtext{
    font-size: 30px;
    text-align: center;
    margin-top: 5px;
    text-transform: uppercase;
  }
  .cont{
    margin-top: -20px;
  }
  hr{
    display: none;
  }
  .sHead{
      color: grey;
  }
  .foot{
    margin-top: 20px;
    text-align: center;
  }
  .description{
    text-align: center;
    margin-right: -50px;

  }
  h2{
    display: none;
  }
}

.description{
  margin-left: 300px;
  color: grey;
  font-family: sans-serif;
}

.top{
  font-size: 50px;
  color: #233982;
}
.description1{
  color: #09c8eb;
  font-size: 25px;
}

.count{
  color: #bbcbdb;
  font-size: 30px;
}


.count1{
  color: #bbcbdb;
  font-size: 25px;
}
.display{
  margin-top: 100px;
}

.head{
  color: red;
}
